@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

body, h1, h2, h3, p {
  font-family: 'Inter Tight', sans-serif;
}

body .body.blog {
  margin: 0;

  background: #000;
  color: #fff;
  text-align: center;
}
.header-blog {
  background: #000000;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.menu-navegacion-blog {
  display: flex;
  gap: 2em;
  justify-content: flex-end;
  width: 100%;
}
.menu-navegacion-blog a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.blog-main {
  max-width: 900px;
  margin: 2em auto;
  background: rgba(255,255,255,0.85);
  border-radius: 12px;
  padding: 2em;
  color: #222;
}
.blog-entrada {
  background: #a5a1a1;
  margin-bottom: 2em;
  padding: 1.5em;
  border-radius: 8px;
  text-align: left;
}
.blog-entrada h2 {
  margin-top: 0;
  color: #ffffff;
}
.blog-entrada p {
  margin-bottom: 0.5em;
}
